<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name="MovieRentalDb"
      connectionString="Server=YOUR_SERVER_IP,1433;Database=MovieRental_Team5;User ID=YOUR_SQL_USERNAME;Password=YOUR_SQL_PASSWORD;TrustServerCertificate=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
